.modal
{
    display:none;
    position: fixed;  
    z-index: 1;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
        background-color: #fefefe;
        margin: 15% auto;
        border: 1px solid #888;
        width: 80%;
        animation-name: animatetop;
        animation-duration: 2s;
}

.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.myBtn
{
    background-color: rgb(30,118,195);
    border: none;
    color: #fff;
}

@keyframes animatetop
{
    from{top: -300px; opacity: 0;}
    to {top:0; opacity: 1;}
}