body{
    background-image:linear-gradient(43deg,
    #ed213a
    ,
    #93291e
    ,
    #5d26c1 ) ;
    height: 100vh;
}


main{
  max-width: 300px;
  margin: auto;
  text-align: center;
 
}